<%= nested_form_for @project, :url => update_project_admin_path(@project), :html => {:class => 'form-horizontal' } do |f| %>
  <% @project.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <div class="control-group">
    <%= f.label :project_name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :project_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_status, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :project_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label required' %>
    <div class="controls">
      <%= f.date_select :start_date, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :completion, :class => 'control-label required' %>
    <div class="controls">
      <%= f.date_select :completion_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_value, :class => 'text_field' %>
    </div>
  </div>

    <div class="control-group">
    <label class="control-label">Address Autocomplete</label> 
    <div class="controls">
       <input class="text_field" id="autocomplete" placeholder="Enter your address" type="text"></input>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address1, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :client, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :client, :class => 'text_field' %>
    </div>
  </div>
    
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <%= f.fields_for :images, @project.images do |image|%>
    <div class="upload-thumbs">
      <div class="remove">
        <%= image.link_to_remove "x" %>
      </div>  
      <div class="image">
        <% if image.object.image.url.nil? %>
          <%= image_tag "recieptimage.png", :class => "thumb" %>
        <% else %>
           <%= image_tag image.object.image.url, :class => "thumb" %>
        <% end %> 
      </div>    
      <div class="info">
        <div class="aright">
          <%= image.file_field :image, :class => "project_image" %>
        </div>  
        <div class="clear"></div>
      </div>
    </div>  
    <% end %> 
    <%= f.link_to_add "Upload New image", :images, :class => "btn-uploadnew typo-whitemed", :style => "font-size: 16px;" %>
    <%= f.hidden_field :latitude, :class => 'text_field' %>
    <%= f.hidden_field :longitude, :class => 'text_field' %>
    <input type="hidden" class="text_field" id="street_number" disabled="true"></input>    
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
<% end %>

<script>
  var validator = new FormValidator('edit_project_<%= "#{@project.id.to_s}"%>', [{
    name: 'project[project_name]',    
    rules: 'required'
  }, {
    name: 'project[project_status]',
    rules: 'required'
  }, {
    name: 'project[start_date]',
    rules: 'required'
  }, {
    name: 'project[completion_date]',
    rules: 'required'
  }, {
    name: 'project[client]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","2px solid red");
    }
    }  
  });
</script>
