<%= nested_form_for @project, :url => create_project_admins_path, :html => {:class => 'form-horizontal', :multipart => true } do |f| %>
  <div id="form_container">
  <% @project.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  <%= f.hidden_field :client_id, :class => 'text_field' %>
  <div class="control-group">
    <%= f.label :project_name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :project_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :project_status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_date, :class => 'datepicker text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :completion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :completion_date, :class => 'datepicker text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :project_value, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :project_value, :class => 'text_field' %>
    </div>
  </div>

    <div class="control-group">
    <label class="control-label">Address Autocomplete</label> 
    <div class="controls">
       <input class="text_field" id="autocomplete" placeholder="Enter your address" type="text"></input>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address1, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :address2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address2, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :city, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :country, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :client_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :client_name, :class => 'text_field' %>
    </div>
  </div>
    
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <%= f.link_to_add "Upload Project image", :images, :class => "btn btn-primary", :style => "position: absolute;margin-top: -15px;" %>
  <%= f.fields_for :images, @project.images do |image|%>
    <div class="upload-thumbs aleft">
      <div class="remove">
        <%= image.link_to_remove "x" %>
      </div>  
      <div class="image aleft">
        <% if image.object.image.url.nil? %>
          <%= image_tag "/assets/placeholder.jpeg", :class => "thumb" %>
        <% else %>
           <%= image_tag image.object.image.url(:thumb), :class => "thumb" %>
        <% end %> 
        <span class="btn btn-info upload">Choose File
          <%= image.file_field :image, :class => "project_image" %>
        </span>
      </div>    
    </div>  
  <% end %>     
  <div class="clear"></div> 
    <%= f.hidden_field :latitude, :class => 'text_field' %>
    <%= f.hidden_field :longitude, :class => 'text_field' %>
    <div style="text-align:center;margin-top:40px;">
      <%= f.submit nil, :class => 'btn btn-primary' %>
    </div>
  </div>  
<% end %>

<script>
  var placeSearch, autocomplete;
  var componentForm = {
    street_number: 'short_name',
    route: 'long_name',
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name'
  };

  function initializeAutoComplete() {
    // Create the autocomplete object, restricting the search
    // to geographical location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
        { types: ['geocode'] });
    // When the project selects an address from the dropdown,
    // populate the address fields in the form.
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      fillInAddress();
    });
  }

  // The START and END in square brackets define a snippet for our documentation:
  // [START region_fillform]
  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
    // Get each component of the address from the place details
    // and fill the corresponding field on the form.
    var address = "";
    for (var i = 0; i < place.address_components.length; i++) {
      var addressType = place.address_components[i].types[0];
      if (componentForm[addressType]) {
        var val = place.address_components[i][componentForm[addressType]];
        console.log(addressType);
        if (addressType == 'locality')
          $('#new_project #project_city').val(val);
        if (addressType == 'street_number')
          address += val;
        if (addressType == 'route')
          address += ' '+val;
        if (addressType == 'administrative_area_level_1')
          $('#new_project #project_state').val(val);
        if (addressType == 'country')
          $('#new_project #project_country').val(val);
      }
    }
    $('#new_project #project_address1').val(address);
    var latitude = place.geometry.location.lat();
    var longitude =  place.geometry.location.lng();
    $('#new_project #project_latitude').val(latitude);
    $('#new_project #project_longitude').val(longitude);
  }

  var image_element = "";
  var oFReader = new FileReader(), rFilter = /^(?:image\/bmp|image\/cis\-cod|image\/gif|image\/ief|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/svg\+xml|image\/tiff|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;

  oFReader.onload = function (oFREvent) {
       $(image_element).parent().parent().find('.thumb').attr("src",  oFREvent.target.result);
  };

  $(document).on('change','.project_image',(function(){
      if (document.getElementById($(this).attr("id")).files.length === 0) { return; }
      var oFile = document.getElementById($(this).attr("id")).files[0];
      if (!rFilter.test(oFile.type)) { alert("You must select a valid image file!"); return; }
      oFReader.readAsDataURL(oFile);
      image_element = "#"+$(this).attr("id");
  }));

  function loadImageFile() {
    if (document.getElementById("project_images_attributes_0_image").files.length === 0) { return; }
    var oFile = document.getElementById("project_images_attributes_0_image").files[0];
    if (!rFilter.test(oFile.type)) { alert("You must select a valid image file!"); return; }
    oFReader.readAsDataURL(oFile);
  }
</script>
<script>
  var validator = new FormValidator('new_project', [{
    name: 'project[project_name]',    
    rules: 'required'
  }, {
    name: 'project[city]',
    rules: 'required'
  }, {
    name: 'project[country]',
    rules: 'required'
  }], function(errors, event) {
    $("input").each(function(){
        $(this).css("border","none");      
        $(this).removeClass("field_error");
    })
    if (errors.length > 0) {
      var obj;
      for (var i=0; i<errors.length; i++){
        obj = errors[i].id;
        $("#"+obj).addClass("field_error");
        $("#"+obj).css("border","1px solid red");
      }
      $("#"+errors[0].id).focus();
    }  
  });
  $(function() {
    $(".datepicker").datepicker({
      dateFormat: 'mm/dd/yy'
    });
  });
  var html = "";
  var form_validation_flag = false;
  $('form').submit(function(){
    if($(".field_error").length == 0 && !(form_validation_flag)){
      var formId = $(this).attr("id");
      var data  = $(this).serialize();
      validate_form(data,formId);
      return false;
    }    
  });

  function validate_form(data, formId){
    return $.ajax({
      url:'/admins/validate_project',
      type:"POST",
      dataType:'json',
      data: data,
      processData:false,
      success: function (json)
      {
        if(json['result'] == 'true')
        {
          form_validation_flag = true;
          $("#"+formId).submit();
        }
        else
        {              
          html = '<div id="form-errors"><p class="error-tagline">Following are missing fields in the form:</p>';
          $.each(json['errors'], function(key, value) { 
            html += '<p class="error">- '+value+'</p>'; 
          });
          html += "</div>"
          $("#form-errors").remove();
          $("#"+formId).prepend(html);
          $("#form-errors").attr("tabindex",-1).focus();
          //act on result.
          return false;
        }
      },
      error: function (xhr, status)
      {
        return false;
      }
    });
  }
</script>