<div class="container">
  <%= form_for @admin, :url => reset_password_admin_path(@admin), :html => { :class => "form-signin"} do |f| %>
  <h2 class="form-signin-heading">Reset Password</h2>
  <%= f.email_field :email, :class => "form-control space", :placeholder => "Email address", :required => "true", :autofocus =>"true"%>
  <%= f.password_field :password, :class => "form-control", :placeholder => "Password", :required => "true"%>
  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password Confirmation", :required => "true"%>
  <%= f.submit "Reset Password", :class => "btn btn-lg btn-primary btn-block" %></div>
<% end %>
</div> 

<style>
a:hover, a:focus {
  color: #333333;
  background-color: transparent;
  text-decoration: underline;
}

a{
  color: #333333 !important;
}

.link{
  font-size: 12px;
  position: relative;
  margin-top: -20px;
  right: -154px;
}
#footer_container{
    position:fixed;
    bottom: 0; 
}

#admin_password_confirmation{
   margin-top: -12px;
}

</style>
<script>
  $( document ).ready(function() {
    $("#admin_email").val("")
  });

  var validator = new FormValidator('edit_admin_1', [{
    name: 'admin[email]',    
    rules: 'required'
  }, {
    name: 'admin[password]',
    rules: 'required'
  }, {
    name: 'admin[password_confirmation]',
    rules: 'required'
  }], function(errors, event) {
    if (errors.length > 0) {
    var temp;
    $("input:text").each(function(){
        $(this).css("border","none");      
        $(this).removeClass("field_error");
    })
    for (var i=0; i<errors.length; i++){
      temp = errors[i].id;
      $("#" + temp).css("border","1px solid red");
    }
    }  
  });
</script>
