<div id="project_details">
	<% project = @client.projects.first %>
	<h3> <%= project.project_name %> </h3></br>
	<div id="left">
		<%= image_tag project.images.first.image.url, :width =>"250px", :height => "250px" %>
	</div>
	<div id="right">
	<% project.images.each do |p| %>
		<%= image_tag p.image.url, :width =>"120px", :height => "120px" %>
	<% end %>
	</div>
	<div class="clear"></div>
	<b>Project Status: </b> <%= project.project_status %> </br>
	<b>Start Date: </b> <%= project.start_date %> </br>
	<b>Completion Date or Projected: </b> <%= project.completion_date %> </br>
	<b>Project Value: </b> <%= project.project_value %> </br>
	<b>Location: </b> <%= project.project_status %> </br>
	<b>Client: </b> <%= project.client_name %> </br>
	<b>Project Description: </b> <%= project.description %>
</div>


<style>
	#project_details{
		padding: 10px;
		height:450px;
		overflow:auto;
	}
	#left{
		float:left;
		width:49%;
	}
	#right{
		float: right;
		width:50%;
	}
</style>