<%if @client.projects.present? %>
	<% @client.projects.each do |project| %>
		<div id="project_details_<%= project.id %>" class="popup" style="display:none;">
		  <div class="popup_close"><img src="/assets/close.png"/ width="32"></div>
			<div>
				<h3> <%= project.project_name %> </h3></br>
				<div class="infobox_left">
					<%= image_tag project.images.first.image.url, :width =>"200", :height => "200" %>
				</div>
				<div class="infobox_right">
				<% project.images.each do |p| %>
					<%= link_to image_tag(p.image.url, :class => "project_thumbs"), p.image.url %>
				<% end %>
				</div>
				<div class="clear"></div>
				<b>Project Status: </b> <%= project.project_status %> </br>
				<b>Start Date: </b> <%= project.start_date %> </br>
				<b>Completion Date or Projected: </b> <%= project.completion_date %> </br>
				<b>Project Value: </b> <%= project.project_value %> </br>
				<b>Location: </b> <%= project.address1 %>, <%= project.city %>, <%= project.state %>, <%= project.country %></br>
				<b>Client: </b> <%= project.client_name %> </br>
				<b>Project Description: </b> <%= project.description %>
			</div>
		</div>
	<% end %>
<% end %>

<style>
	.infobox_left{
		float:left;
		width:49%;
		height:210px;
	}
	.infobox_right{
		float: right;
		width:50%;
		height:210px;
		overflow:auto;
	}
	.project_thumbs{
		width: 120px !important;
		height: 120px !important;
		margin-bottom: 3px;
		margin-right: 1px;
	}
	a:hover{
		background:transparent;
	}
</style>

<script type="text/javascript">
    $(document).ready(function() {
        $('.infobox_right').magnificPopup({
          delegate: 'a',
          type: 'image',
          tLoading: 'Loading image #%curr%...',
          mainClass: 'mfp-img-mobile',
          gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
          },
          image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
            titleSrc: function(item) {
            }
          }
        });
    });
    </script>