<!-- Modal -->
<div id="projectsList" class="popup" style="display:none;">
  <div class="popup_close"><img src="/assets/close.png"/ width="32"></div>
  <%= render :partial => 'projects_list' %>
</div>
<!-- Modal -->
<div id="newProject" class="popup" style="display:none;">
  <div class="popup_close"><img src="/assets/close.png"/ width="32"></div>
  <div class="page-header">
    <h3 class="popup_title"><%= "#{@client.company_name} - New Project"%></h3>
  </div>
  <%= render :partial => 'admins/new_project_form' %>
</div>

<div id="details" class="popup" style="display:none;">
  <div class="popup_close"><img src="/assets/close.png"/ width="32"></div>
  <%= render :partial => 'details' %>
</div>

<div>
  <div id="map" style='width: 100%; height: 550px;'></div>
</div>

<% if @hash.empty?%>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
markers = handler.addMarkers([
  {
    "lat":<%="#{@client.latitude}" %>,
    "lng": <%="#{@client.longitude}" %>
  }
]);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
handler.getMap().setZoom(8);
});
</script>
 
<% else %>
<script>
handler = Gmaps.build ('Google', { builders: { Marker: InfoBoxBuilder} });
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
handler.getMap().setZoom(3);
});
</script>
<% end %>

<script>

  $(document).ready(function(){
    $("#projectsListBtn").click(function(){
      $(".popup").each(function(){
        $(this).fadeOut("fast");  
      });
      $("#projectsList").fadeIn("fast");
    });
      
    $("#viewdetails").click(function(){
      $(".popup").each(function(){
        $(this).fadeOut("fast");  
      });
      $("#details").fadeIn("fast");
    });

    $("#newProjectBtn").click(function(){
      $(".popup").each(function(){
        $(this).fadeOut("fast");  
      });
      $("#newProject").fadeIn("fast");
    });
    $(".popup_close").click(function(){
      $(".popup").fadeOut("fast");
    });
  });
</script>
<style>
#footer_container{
    position:fixed;
    bottom: 0; 
}

.yellow{
}

#map img { 
  max-width: none;
}
#map label { 
  width: auto; display:inline; 
} 
</style>