<!-- Modal -->
<div id="newProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render :partial => 'admins/new_project_form' %>
</div>
<!-- Modal -->
<div id="projectsList" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render :partial => 'projects_list' %>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 1270px; height: 450px;'></div>
</div>

<% if @hash.empty?%>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
markers = handler.addMarkers([
  {
    "lat":<%="#{@client.latitude}" %>,
    "lng": <%="#{@client.longitude}" %>,
    "infowindow":"hello"
  }
]);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
handler.getMap().setZoom(8);
});
</script>
 
<% else %>
<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
handler.getMap().setZoom(3);
});
</script>
<% end %>
<style>
#footer_container{
    position:fixed;
    bottom: 0; 
}
</style>