<div class="form_container">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => ""}) do |f| %>
		<p class="form-heading">Welcome to Ambquad Solutions</p>
		<div class="form">
			<label>Username</label>
			<%= f.email_field :email, :class => "form-control space", :placeholder => "Email address", :required => "", :autofocus =>"true"%>
			<label>Password</label>
			<%= f.password_field :password, :class => "form-control", :placeholder => "Password", :required => ""%>

			<% if devise_mapping.rememberable? -%>
			<label class="checkbox">
		      <%= f.check_box :remember_me %> Remember me
		      <div class = "link">
				<%= render "clients/shared/links" %>
		      </div>
		    </label>
			<% end -%>

			<%= f.submit "Sign in", :class => "sign-x-btn" %>
			<a href="/sign_up"><input class="sign-x-btn" type="button" value="Sign Up"></a>
		</div>	
	<% end %>
</div> 
