<!DOCTYPE html>
<html>
<head>
  <title>Ambquad</title>
  <%= stylesheet_link_tag    "application" %>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
 
</head>
<body>
  <div id="header_container">
      <div id="header">
        <div class="logo aleft">
          <%= image_tag("ambquad.jpg", :alt => "Amquad Solutions", :width => 180) %>
        </div>
        <div class="slog-tag aright">
          <p class="slogan">Innovative Solutions</p>
          <p class="tagline">for the construction industry</p>
          <% if current_admin.present? %>
          <div id="button" style="text-align:right;">
            <%= link_to t('.new', :default => t("helpers.links.Logout")), '/sign_out', :class => 'btn btn-danger' %>
          </div>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
  </div> 
  <% if notice || alert %>
    <%= render partial: "admins/flash_messages", flash: flash %> 
  <% end %>
  <div id="container">
    <div id="content">
  		<%= yield %>
    </div>      
  </div>			
  <div id="footer_container">
      <div id="footer">
          Powered by &copy; 2014 Ambquad Solutions. 
      </div>
  </div>
</body>
</html>