<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <title>Ambquad</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox_packed.js"> </script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag "application" %>
  <link href="http://dimsemenov.com/plugins/magnific-popup/site-assets/all.min.css?v=0.9.9" rel="stylesheet">
  <%= stylesheet_link_tag "style" %>
</head>
<body>
  <div id="header_container">
      <div id="header">
        <div class="logo aleft">
          <%= image_tag @client.logo_url.to_s %>
        </div>
        <div class="slog-tag aright">
          <p class="slogan"><%= @client.title %></p>
          <p class="tagline"><%= @client.slogan %></p>
          <% if current_admin.present? %>
          <div id="button" style="text-align:right;">
            <%= link_to t('.new', :default => t("helpers.links.Logout")), destroy_admin_session_path, :method => :delete, :class => 'btn btn-danger' %>
          </div>
          <% end %>
          <% if current_client.present? %>
          <div id="button" style="text-align:right;">
            <%= link_to t('.new', :default => t("helpers.links.Logout")), destroy_client_session_path, :method => :delete, :class => 'btn btn-danger' %>
          </div>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
  </div> 
  <% if notice || alert %>
    <%= render partial: "admins/flash_messages", flash: flash %> 
  <% end %>
  <div id="container">
    <div id="content" style="padding:0;">
  		<%= yield %>
    </div>      
  </div>			
  <div id="footer_container">
      <div id="footer">
        <div class="aleft">
          <% if current_admin.nil? %>
            <a href="http://<%= @client.website %>" class ='btn btn-primary'>Back to <%= @client.website %> </a>
          <% end %>
        </div>
        <div class="aright" style="margin-bottom:10px;">
          <% if current_admin.present? %>
            <div id="button" style="text-align:right;">
              <a href="javascript:void(0)" class="btn btn-primary" id="projectsListBtn">View projects list</a>
              <a href="javascript:void(0)" class="btn btn-primary" id="newProjectBtn">Enter a new project</a>
              <%= link_to t('.new', :default => t("helpers.links.Admin Panel")), '/admins', :class => 'btn btn-primary' %>
            </div>
            <span class="text">Powered by Google Maps and Ambquad Solutions</span>
          <% elsif current_client.present?%>
            <div id="button" style="text-align:right;">
              <a href="javascript:void(0)" class="btn btn-primary" id="projectsListBtn">View projects list</a>
              <a href="javascript:void(0)" class="btn btn-primary" id="newProjectBtn">Enter a new project</a>
            </div>  
            <span class="text">Powered by Google Maps and Ambquad Solutions</span>
          <%else%>
            <span class="text">Powered by Google Maps and Ambquad Solutions</span>
          <% end %>
        </div>
        <div class="clear"></div>
      </div>
  </div>
</body>
</html>